[Desktop Entry]
Name=Obsidian
Comment=Notetaking App
Exec=/home/glen/.appImage/Obsidian-1.6.7.AppImage --no-sandbox
Icon=/home/glen/.appImage/icons/Obsidian.png
Terminal=false
Type=Application
Categories=Utility;Application;
