- name: Install Docker components
  dnf:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: present

- name: Ensure Docker group exists
  group:
    name: docker
    state: present

- name: Add user to Docker group
  user:
    name: "{{ user }}"  # Using your variable from system-vars.yml
    groups: docker
    append: yes

- name: Start and enable Docker service
  systemd:
    name: docker
    enabled: yes
    state: started
