- name: Add the Flathub repository
  community.general.flatpak_remote:
    name: flathub
    state: present
    method: system
    url: https://dl.flathub.org/repo/flathub.flatpakrepo
    
- name: Add Sublime Text repository
  ansible.builtin.get_url:
    url: https://download.sublimetext.com/rpm/stable/x86_64/sublime-text.repo
    dest: /etc/yum.repos.d/sublime-text.repo
    mode: '0644'

- name: Add Docker repository
  ansible.builtin.get_url:
    url: https://download.docker.com/linux/fedora/docker-ce.repo
    dest: /etc/yum.repos.d/docker-ce.repo
    mode: '0644'

- name: Enable RPM Fusion (Free)
  ansible.builtin.dnf:
    name: "https://mirrors.rpmfusion.org/free/fedora/rpmfusion-free-release-{{ ansible_distribution_major_version }}.noarch.rpm"
    state: present
    disable_gpg_check: yes

- name: Enable RPM Fusion (Non-Free)
  ansible.builtin.dnf:
    name: "https://mirrors.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-{{ ansible_distribution_major_version }}.noarch.rpm"
    state: present
    disable_gpg_check: yes
