- name: Copy konsave .knsv file
  ansible.builtin.copy:
    src: files/customisation/konsave/settings.knsv
    dest: /var/tmp
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: "0644"

- name: Ensure Breeze wallpaper directory exists
  ansible.builtin.file:
    path: /usr/share/wallpapers/Breeze/contents/images
    state: directory
    owner: root
    group: root
    mode: "0755"
  become: yes

- name: Copy wallpaper for login screen (Fedora)
  ansible.builtin.copy:
    src: files/customisation/desktop/wallpaper.png
    # On Fedora, it's safer to target the specific default filename
    dest: "/usr/share/wallpapers/Breeze/contents/images/1920x1080.png"
    owner: "root"
    group: "root"
    mode: "0644"
    setype: usr_t  # This helps SELinux recognize it as a system file
  become: yes